.page-content-wrapper .page-content {
    margin-left: 0 !important;
}
.dataTables_filter input[type="search"] {
    width: 420px !important;
    max-width: calc(100% - 55px);
}
.table [data-orderby] {
    cursor: pointer;
}